# Python
__pycache__/
*.py[cod]
*$py.class

# venv
venv/
.venv/
ENV/
env.bak/
venv.bak/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Data & Models (Keep your repo light!)
*.pdf
*.docx
*.txt
*.json

# Trained models
/my-custom-model/